img {float: left; width: 300px; height: 300px;}
h1 {border-bottom-style: inset;}
.entreLetras {letter-spacing: 0.5em;} /* controlla o espaçamento entre as letras */
.aDireita {text-align: right;}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
}