h1 {
    border-bottom-style: inset;
}

pre {
    font-size: 1.2em;
}

img {
    float: left;
}

img.normal {
    height: 300px;
    width: 300px;
}

img.alta {
    height: 420px;
    width: 300px;
}

.aDireita {
    text-align: right;
}

span {
    margin-left: 70px;
}

select {
    width: 150px;
}

details {
    width: 380px;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}